.cell {
  width: 80px;
  height: 80px;

  position: relative;

  transform-style: preserve-3d;
  transition: transform 300ms;

  border-radius: 10%;
  cursor: pointer;
}

.opened {
  transform: rotateY(180deg);
  transition: transform 300ms;
}

.front,
.back {
  width: inherit;
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0;
  left: 0;

  border-radius: inherit;
  backface-visibility: hidden;
}

.front {
  z-index: 2;
  background-color: #7abbdc;
}

.cell:hover .front {
  background-color: #a1d6f0;
}

.back {
  z-index: 1;
  transform: rotateY(180deg);

  font-size: 40px;
  background-color: #ede4d5;
}

.bomb {
  display: block;
  width: 60px;
  height: 60px;
}

.flag {
  display: block;
  width: 60px;
  height: 60px;
  animation: fall 200ms;
}

@keyframes fall {
  from {
    transform: translateY(-30%);
  }

  to {
    transform: translateY(0);
  }
}
